



@model LookUpTablesViewModel

<form id="addrecord">


    <div class="form-body" style="margin-top:-40px">
<br \>
<br \>
<br \>

        <label>Division Name</label>
        <br />
        <input asp-for="LookUp_Name" class="k-textbox" style="width: 100%" />
        <span asp-validation-for="LookUp_Name" class="text-danger"></span>
        <br />
        <br />

        <label>Select Directorate</label>
        <br />
        @(Html.Kendo().DropDownList()
                               .Name("ParentLink_Id")
                               .HtmlAttributes(new { style = "width:100%" })
                               .OptionLabel(" ")
                               .DataTextField("DropDown_Name")
                               .DataValueField("DropDown_IntId")

                               .Filter(FilterType.Contains)
                               .DataSource(source =>
                               {


                                   source.Read(read =>
                                   {
                                       read.Action("GetAllTransDirectorate", "Admin");
                                   });
                               })

            // .SelectedIndex(Model.Directorate_Id)
        )
        <br />
        <br />




        <div id="targetDivStaffa" class="rssedStaffa">
        </div>
        <br />
        <br />
        <div style="align-content:center; text-align:center">
            <a class="k-button" id="btnSubmita">
                <span class="k-icon k-i-save"></span> Save
            </a>

            <a class="k-button" id="btnCloseStaffa">
                <span class="k-icon k-i-cancel"></span> Close
            </a>
        </div>

    </div>





</form>



<style>

/*SWITCH ON*/

    .k-switch-on .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28
    }

    .k-switch-on:hover .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:hover .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }


    .k-switch-on:active .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4
    }

    .k-switch-on:active .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28
    }



    .k-switch-on:visited .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:visited .k-switch-handle{
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }


    .k-switch-on:focus .k-switch-container {
        border-color: #13ad28;
        color: #c5fcd4;
        background-color: #c5fcd4;
    }

    .k-switch-on:focus .k-switch-handle {
        border-color: #13ad28;
        color: #fff;
        background-color: #13ad28;
    }




    /*SWITCH OFF*/

    .k-switch-off .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }



    .k-switch-off:hover .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:hover .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }


    .k-switch-off:active .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:active .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }


    .k-switch-off:visited .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:visited .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }

    .k-switch-off:focus .k-switch-container {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #fff;
    }

    .k-switch-off:focus .k-switch-handle {
        border-color: #c5c7c9;
        color: #fff;
        background-color: #c5c7c9;
    }



</style>




<script>$("#btnCloseStaffa").click(function () {
        $(".k-window-content").each(function () {
            $(this).data("kendoWindow").close();
        });
    });



$("#btnSubmita").click(function () {

   var divisionname = $("#LookUp_Name").val();  

     var directorate = $("#ParentLink_Id").val(); //data("kendoDropDownList").text();

    if(divisionname === "" && typeof divisionname === "string")
    {
        $('#targetDivStaffa').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%"><b>Empty: Please enter the division name</b> </span>').appendTo('.rssedStaffa');
    }
    else if(directorate === "" && typeof directorate === "string")
    {
        $('#targetDivStaffa').empty();
        $('<span class="alert alert-warning" style="display: block;font-size: 100%"><b>Empty: Please select the directorate</b> </span>').appendTo('.rssedStaffa');
    }
    else{
        $.ajax({
            type: "POST",
            url: '/Admin/AddStrucDivision',     //your action
            data: $('#addrecord').serialize(),   //your form name.it takes all the values of model
            dataType: 'json',
            success: function (result) {
                var response = result.rtnmsg;

                if (response == "success") {
                            $('#targetDivStaffa').empty();
                            $('<span class="alert alert-success" style="display: block;font-size: 100%"><b>Success : Record added Successfully. </b> </span>').appendTo('.rssedStaffa');


                              var grid = $("#grid_main").data("kendoGrid");

                              grid.dataSource.transport.options.read.url = "/Admin/Struc_Division_Read";
                              grid.dataSource.read();

                }
                else if (response == "alreadyexist") {
                        $('#targetDivStaffa').empty();
                        $('<span class="alert alert-danger" style="display: block;font-size: 100%"><b>Already Exist:  Record already exist.</b> </span>').appendTo('.rssedStaffa');
                        //$('#targetDivStaffa').empty();
                }
                else {
                        $('#targetDivStaffa').empty();
                        $('<span class="alert alert-danger" style="display: block;font-size: 100%"><b>Error: Error Occurred whiles saving</b> </span>').appendTo('.rssedStaffa');
                        //$('#targetDivStaffa').empty();
                }

            },
            error: function (data) {
                    $('#targetDivStaffa').empty();
                    $('<span class="alert alert-danger" style="display: block;font-size: 100%"><b>Error: Error Occurred whiles saving</b> </span>').appendTo('.rssedStaffa');
                    //$('#targetDivStaffa').empty();
            }
        })
    }
        return false;
    });</script>











