
@{
    ViewBag.Title = "AUDA-NEPAD Integrated System";
    Layout = "_FrontPageLoginLayout";

}
                            <p class="font-16 text-uppercase">African Union Development Agency</p>
                            <h1 style="font-family: Faktslab;">Integrated Planning &#38; Reporting System</h1>

                            <p>This is an integrated data platform for planning and reporting AUDA-NEPAD’s delivering on its mandate and strategic plan</p>

                            <div class="mt-4">
                                <a asp-controller="home" asp-action="index" class="btn btn-success  mt-2 mr-2">Back to Home Page</a>
                            </div>