	@model LoginViewModel
@{
    ViewBag.Title = "AUDA-NEPAD Annual Planning and Reporting";
    Layout = "_LoginsLayout";

}				
                    
                    
                    <div class="logintitle" style="text-align: center;">
						 UNAUTHORIZED: Access to this resource is denied.
					</div>

                    <br \>
					<br \>
					<span class="login100-form-avatar">
						<img src="~/logins/images/avatar-01.png" alt="AVATAR">
					</span>