
@{
    Layout = "_HomePageLayout";

}				
                    
            <a asp-controller="account" asp-action="login" target="_blank">
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-one">
					<i class="fa fa-tasks"></i>
					<h2>Annual Planning &#38; Reporting</h2>
					<p>This is an integrated data platform for planning and reporting AUDA-NEPAD’s delivering on its mandate and strategic plan.</p>

				</div>
			</div>
			</a>
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-two">
					<i class="fa fa-line-chart"></i>
					<h2>Impact Oriented Assessment</h2>
					<p>This provides the tools and instruments for assessing  the impact of AUDA-NEPAD’s programmes on delivering on A2063.</p>

				</div>
			</div>
			<a href="http://audanepadapps.com:8080" target="_blank">
			<div  class="col-md-4 col-sm-12">
				<div class="divider-wrapper divider-three">
					<i class="fa fa-bar-chart"></i>
					<h2>Other Tools and Frameworks</h2>
					<p>These are other frameworks, instruments and tools for coordinating and strengthening national and regional data systems.</p>
	
				</div>
			</div>
		</a>