@model EmployeeViewModel
@{
    ViewBag.Title = "AUDA-NEPAD Integrated Planning System";
    Layout = "_NEPADStaffLayout2";

}




<h1 style="font-family: Faktslab;">Dashboard</h1>


@* <div class="breadcrumb">
    <h1>Blank</h1>
    <ul>
        <li><a href="">Pages</a></li>
        <li>Blank</li>
    </ul>
</div> *@
                <div class="separator-breadcrumb border-top"></div>


