@model EmployeeViewModel
@{
    ViewBag.Title = "AUDA-NEPAD Integrated Planning System";
    Layout = "_NEPADStaffLayout2";

}


<h1 style="font-family: Faktslab;">System Message</h1>

<div class="separator-breadcrumb border-top"></div>


<div class="alert alert-warning" role="alert">
    @Model.SystemMessageContent

</div>

     


